*.o
*.obj
*.lo
*.so
*.dll
*.dylib
*.la
*.exe
.idea
.iml
*.old
CMakeFiles
cmake-build-debug
exe/*
CMakeCache.txt
*.cmake
pdfalto
Makefile
./*.xml
*.pdf
*.cbp
.DS_Store
./*.xml_data/
libs/image/png/src/libpng.a
libs/image/zlib/src/libzlib.a
traingenerator
jeu/*
build/
install/
